* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#game-screen {
    position: relative;
    overflow: hidden;
    margin-left: 120px;
    background-color: green ;
}

#leaderBoard {
    width: 490px;
    height: 100vh;
    background: red;
    position: absolute;
    top: 0;
    right: 0;
}
#leaderBoard li {
    margin-top: 12px}

