* {
    margin: 0;
    padding: 0;
}

#game-screen {
    position: relative;
    overflow: hidden;
    margin-left: 120px;
    background-color: rgb(68, 158, 255);
	border: 3px solid black;
	border-top: 0;
	border-bottom: 0;
}
body {
	background-color: #505050;
}
input:focus {
    outline: none;
}

#surrenderButton {
    background-color: white;
    background-image: url('./../img/Death_Surrender.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}

#leaderBoard {
    width: 490px;
    height: 100vh;
    background: #505050;
    position: absolute;
    top: 0;
    right: 0;
	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

h1 {
	font-size: 60px;
	margin-bottom: 60px;
}
h3 {
	font-size: 32px;
	margin-bottom: 30px;
}

#topPlayers {
	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}
#leaderBoard li {
    margin-top: 18px;
	font-size: 24px;
}

